*{
    box-sizing: border-box;

}

body{
    background-color: white;
    font-family: 'Poppins',sans-serif;
    margin: 0;
}


#Content{
    border: 2px solid red;
    height: 380px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #009688;
}

header{
    background-color: #009688;
    display: flex;
}

h1{
    color: whitesmoke;
    align-self: center;
    margin-left: 36rem;
    font-size: 70px;
}


#Parag{
    width: 500px;
    height: 50px;    
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 25px;
}

#Timer{
    width: 500px;
    height: 50px;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 25px;
    

}

#Hours{
    border: 1px solid yellow;
    width: 30%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
}
#Minutes{
    border: 1px solid yellow;
    width: 30%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
}
#Seconds{
    border: 1px solid yellow;
    width: 30%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
}


#Box_Btn{
    width: 500px;
    height: 50px;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 25px;
    
}

#Btn_Run{
    width: 30%;
    height: 100%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

#Btn_Stop{
    width: 30%;
    height: 100%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

#Btn_Reset{
    width: 30%;
    height: 100%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 25px;
    cursor: pointer;

}